.point {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;

    .leftSide {
        width: 100%;
        display: flex;
        gap: 8px;
        align-items: start;

        .number {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f1e1c9;
            font-size: 14px;
            font-weight: 600;
            flex-shrink: 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: start;

            .pointHeader {
                margin: 0;
            }

            .text {
                font-size: 14px;
                color: #555;
            }
        }
    }

    .image {
        width: 60%;
        border-radius: 18px;
        justify-self: end;
    }

    @media (max-width: 1199px) {
        grid-template-columns: 1fr;

        .image {
            justify-self: center;
            width: 70%;
        }
    }
}