.catalogue {
    padding-top: 20px;
    padding-bottom: 84px;
    min-height: 100vh;
    width: 100%;

    .goodsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        align-items: stretch;
        width: 100%;
        flex: 1;
    }

    @media (max-width: 1199px) {
        .goodsContainer {
            grid-template-columns: 1fr;
        }
    }
}