.order {
    padding: 20px 150px;
    display: flex;
    gap: 40px;

    .pageHeader {
        display: flex;
        flex-direction: column;
        gap: 18px;

        h1 {
            font-size: 40px;
        }

        .orderStatus {
            color: #6e6a65;
        }
    }

    .items,
    .orderResult {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        background-color: #fff;
        padding: 18px;
        border: 1px solid rgba(0, 0, 0, .06);
        box-shadow: 0 10px 24px #0000000f;
        border-radius: 18px;
    }

    .items {
        .item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .06);

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 18px;
            }

            .itemInfo {
                display: flex;
                justify-content: stretch;
                align-items: start;
                flex-direction: column;
                gap: 20px;

                .sizeBlock {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    .size {
                        color: #6e6a65;
                    }

                    .sizeValue {
                        padding: 6px 10px;
                        border: 2px solid #d8b98a73;
                        border-radius: 999px;
                        background: #fff;
                        cursor: pointer;
                        color: #000;
                        box-shadow: 0 0 0 2px #d8b98a59;
                    }
                }

                .colorBlock {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    .color {
                        color: #6e6a65;
                    }
                }

                .cost {
                    font-size: 20px;
                    border-radius: 999px;
                    background: #d8b98a59;
                    padding: 6px 10px;
                    border: 1px solid rgba(0, 0, 0, .06);
                    color: #000;
                    box-shadow: 0 0 0 2px #d8b98a59;
                }
            }
        }
    }

    .orderResult {
        .costAmount {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .result {
                color: #6e6a65;
            }
        }

        .itemsAmount {
            text-align: start;
            display: block;
            font-size: 14px;
            color: #6e6a65;
            margin-top: 10px;
        }

        .buttons {
            display: flex;
            gap: 6px;
            align-items: center;
        }
    }
}