.instructions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 150px;
    width: 100%;

    .subtitle {
        color: #6b6b6b;
    }

    .recomendations,
    .instruction,
    .examples {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 24px;
        padding: 24px;
        box-shadow: 0 14px 35px rgba(15, 14, 10, 0.06);
        background: #ffffff;

        h4 {
            margin-bottom: 20px;
        }
    }

    .instructionContent {
        display: grid;
        grid-template-columns: 2fr 1fr;

        .instructionPoint {
            color: #444;
            font-size: 15px;
        }

        img {
            width: 90%;
        }
    }

    .fourCircles {
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 24px;
        padding: 24px;
        box-shadow: 0 14px 35px rgba(15, 14, 10, 0.06);
        background: #ffffff;

        .steps {
            display: flex;
            gap: 10px;

            .text {
                color: #444;
                font-size: 15px;
            }
        }

        img {
            width: 40%;
            align-self: center;
        }
    }

    .examples {

        gap: 20px;

        .videoBlock {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            @media (max-width: 1199px) {
                grid-template-columns: 1fr;
            }

            .videoTitle {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h4 {
                    margin: 0;
                }
            }

            .leftSide, .rightSide {
                width: 100%;
                display: flex;
                gap: 6px;
                flex-direction: column;

                video {
                    height: 400px;
                    width: 100%;
                    border-radius: 18px;
                    border: 1px solid rgba(164, 164, 164, 0.3);
                }
            }
        }
    }

    @media (max-width: 1199px) {
        padding: 80px 20px;

        .instructionContent {
            grid-template-columns: 1fr;
        }

        .fourCircles {
            .steps {
                flex-direction: column;
            }

            img {
                width: 70%;
            }
        }
    }
}