.instruction {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 150px;
    width: 100%;

    .recomendations {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
            margin-bottom: 20px;
        }
    }
}