.step {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,.06);
    background: #fff;
    padding: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,.04);

    h4 {
        font-size: 16px;
    }

    p {
        color: #6e6a65;
        font-size: 14px;
        line-height: 1.6;
    }
}