@font-face {
    font-family: 'Patrick Hand';
    src: url('/fonts/patrick_hand/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.globalContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 50px 10px;
    font-size: 16px;
    background: #fbeed6;
    font-family: 'Patrick Hand', sans-serif;

    .infoAboutGood {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-between;

    }

    .sizes,
    .colors {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .addToCartBtn {
        all: unset;
        border-radius: 100px;
        cursor: pointer;
        border: 1px solid black;
        color: white;
        transition: all 0.2s ease;
        font-size: 20px;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(28, 28, 28);
        }
    }

    .description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.05em;
    }
}